assignment1/.ipynb_checkpoints
assignment1/HW1.html
assignment1/scratch.ipynb
assignment1/SI_650_EECS_549_F21_Homework_1.pdf
assignment2/_pycache_
assignment2/.ipynb_checkpoints
assignment2/1/
assignment2/proof_of_indexing_in_anaconda_prompt.JPG
assignment2/SI_650_EECS_549_F21_Homework_2.pdf
assignment3/.ipynb_checkpoints
assignment3/terrier_trec_covid/
assignment3/terrier_trec_covid_positional_indices/
assignment3/terrier_trec_covid_positional_indices1/
assignment3/toydocs_index/
